*.class
*.log
README.md~
.gitignore~
LICENSE~

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#generated code
src_generated/
data_generator/
data_generated/

# Scala-IDE specific
.scala_dependencies
.worksheet

# temp files
*~

# eclipse stuff
.project
.classpath
.cache
.settings
.settings/

.idea
.idea/
