*.class
*.log
*.jar
*.zip
*.exe
README.md~
.gitignore~
LICENSE~
*BuildVersion*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#generated code
src_generated/
data_generator/
data_generated/

#python
*.pyc
__pycache__

# Scala-IDE specific
.scala_dependencies
.worksheet

# temp files
*~
temp/

# eclipse stuff
.project
.classpath
.cache
.settings
.settings/

# intellij
.idea
.idea/

# doit
.doit.db*
