<aside id="sidebar">
    <ul>
        {% for p in site.pages %}
            {%if p.link-title %}
            <li>
                <a {% if p.url == page.url %} class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.link-title }}</a>
                {% if p.url == page.url and page.submenu %}
                <ul>
                    {% for item in page.submenu %}
                    <li>
                        <a {% if item.target-tab %} target-tab="{{ item.target-tab }}" {% endif %} {% if p.url == page.url %} class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}#{{ item.anchor }}">{{ item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

  <!--
&nbsp <a href="https://twitter.com/Culvertsoft" class="twitter-follow-button" data-show-count="false">Follow @Culvertsoft</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->

  <!--<p class="repo-owner"><a href="https://github.com/culvertsoft/mgen"></a>This page is maintained by <a href="https://github.com/culvertsoft">culvertsoft</a>.</p>-->

  <p>This page is based on the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>
